.button {
  height: 50px;

  border-radius: 8px;
  font-weight: 500;
  background: #6699ff;
  padding: 0 32px;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;

  cursor: pointer;
  border: 0;

  transition: filter 0.2s;

  img {
    margin-right: 8px;
  }

  &.outlined {
    background-color: white;
    border: 1px solid #6699ff;
    color: #6699ff;

    transition: 0.2s ease-in-out;

    &:hover {
      background-color: #6699ff;
      color: white;
    }
  }

  &:not(:disabled):hover {
    filter: brightness(0.9);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}
